---
import Layout from "../layouts/Layout.astro";
import rightAngle from "../images/right-angle.svg";
---

<Layout title="Home - Massage Envy East Provider Modalities">
  <main class="ph3 tc">
    <section>
      <h1 class="lh-title f2 f1-ns pv4">Provider Modalities</h1>
    </section>

    <section id="therapists" class="mb5">
      <h2 class="tl f4 mw7 center">Massage Therapists</h2>

      <div class="dropdowns-container mw7 center">
        <!-- FEMALE MASSAGE THERAPISTS -->
        <div class="females-container bl pl2 bw3 b--pink mt4">
          <h3 class="f6 ttu tl pink">Female Providers</h3>

          <!-- Start: Teresa dropdown, dropdown-details -->
          <article
            class="dropdown pv1 ph3 flex justify-between br4 relative mv3"
          >
            <div class="summary flex justify-between items-center pv3">
              <h2 class="white mv0 pr3 f4 w4-ns tl">Teresa</h2>
              <p class="white mv0">954-662-8742</p>
            </div>
            <div class="flex items-center">
              <img class="angle" src={rightAngle} width="12" />
            </div>
          </article>
          <article class="dropdown-details w-100 br4 tl ph3 pv3 mb5 dn">
            <div class="modalities">
              <h2 class="f5 mb2">Modalities Performed</h2>
              <ul class="list pl0 mt0">
                <li class="pv1">Swedish</li>
                <li class="pv1">Deep Tissue</li>
                <li class="pv1">Structural</li>
                <li class="pv1">Foot Treatment</li>
                <li class="pv1">Hand Treatment</li>
                <li class="pv1">EMT</li>
                <li class="pv1">Aromatherapy</li>
                <li class="pv1">RTR</li>
                <li class="pv1">Stretching</li>
                <li class="pv1">CBD</li>
              </ul>
            </div>

            <div class="schedule">
              <h2 class="f5 mb2">Days Available</h2>
              <ul class="list pl0 mt0">
                <li class="pv1">Monday</li>
                <li class="pv1">Tuesday</li>
                <li class="pv1">Wednesday</li>
                <li class="pv1">Saturday</li>
                <li class="pv1">Sunday</li>
              </ul>
            </div>

            <div class="durations">
              <h2 class="f5 mb2">Session Durations</h2>
              <ul class="list pl0 mt0">
                <li class="pv1">60 minutes</li>
              </ul>
            </div>

            <div class="consecutive-sessions">
              <h2 class="f5 mb2 lh-copy">Maximum Consecutive Sessions</h2>
              <ul class="list pl0 mt0">
                <li class="pv1">TBD</li>
              </ul>
            </div>
            <div class="notes">
              <h2 class="f5 mb2 lh-copy">Notes</h2>
              <ul class="list pl0 mt0">
                <li class="pv1">Bilingual</li>
                <li class="pv1">Works on Minors</li>
              </ul>
            </div>
          </article>
          <!-- End Teresa dropdown, dropdown-details -->

          <!-- Start: Jennifer dropdown, dropdown-details -->
          <article
            class="dropdown pv1 ph3 flex justify-between br4 relative mv3"
          >
            <div class="summary flex justify-between items-center pv3">
              <h2 class="white mv0 pr3 f4 w4-ns tl">Jennifer</h2>
              <p class="white mv0">580-458-0591</p>
            </div>
            <div class="flex items-center">
              <img class="angle" src={rightAngle} width="12" />
            </div>
          </article>
          <article class="dropdown-details w-100 br4 tl ph3 pv3 mb5 dn">
            <div class="modalities">
              <h2 class="f5 mb2">Modalities Performed</h2>
              <ul class="list pl0 mt0">
                <li class="pv1">Swedish</li>
                <li class="pv1">Hot Stone</li>
                <li class="pv1">Foot Treatment</li>
                <li class="pv1">EMT</li>
                <li class="pv1">Aromatherapy</li>
                <li class="pv1">RTR</li>
              </ul>
            </div>

            <div class="schedule">
              <h2 class="f5 mb2">Days Available</h2>
              <ul class="list pl0 mt0">
                <li class="pv1">Thursday</li>
                <li class="pv1">Saturday</li>
                <li class="pv1">Sunday</li>
              </ul>
            </div>

            <div class="durations">
              <h2 class="f5 mb2">Session Durations</h2>
              <ul class="list pl0 mt0">
                <li class="pv1">60 minutes</li>
                <li class="pv1">90 minutes</li>
                <li class="pv1">120 minutes</li>
              </ul>
            </div>

            <div class="consecutive-sessions">
              <h2 class="f5 mb2 lh-copy">Maximum Consecutive Sessions</h2>
              <ul class="list pl0 mt0">
                <li class="pv1">TBD</li>
              </ul>
            </div>
            <div class="notes">
              <h2 class="f5 mb2 lh-copy">Notes</h2>
              <ul class="list pl0 mt0">
                <li class="pv1">Bilingual</li>
              </ul>
            </div>
          </article>
          <!-- End Jennifer dropdown, dropdown-details -->

          <!-- Start: Lucia dropdown, dropdown-details -->
          <article
            class="dropdown pv1 ph3 flex justify-between br4 relative mv3"
          >
            <div class="summary flex justify-between items-center pv3">
              <h2 class="white mv0 pr3 f4 w4-ns tl">Lucia</h2>
              <p class="white mv0">786-326-1022</p>
            </div>
            <div class="flex items-center">
              <img class="angle" src={rightAngle} width="12" />
            </div>
          </article>
          <article class="dropdown-details w-100 br4 tl ph3 pv3 mb5 dn">
            <div class="modalities">
              <h2 class="f5 mb2">Modalities Performed</h2>
              <ul class="list pl0 mt0">
                <li class="pv1">Swedish</li>
                <li class="pv1">Sports</li>
                <li class="pv1">Foot Treatment</li>
                <li class="pv1">Aromatherapy</li>
                <li class="pv1">RTR</li>
                <li class="pv1">Stretching</li>
                <li class="pv1">Prenatal</li>
              </ul>
            </div>

            <div class="schedule">
              <h2 class="f5 mb2">Days Available</h2>
              <ul class="list pl0 mt0">
                <li class="pv1">Monday</li>
                <li class="pv1">Tuesday</li>
                <li class="pv1">Wednesday</li>
                <li class="pv1">Friday</li>
                <li class="pv1">Saturday</li>
                <li class="pv1">Sunday</li>
              </ul>
            </div>

            <div class="durations">
              <h2 class="f5 mb2">Session Durations</h2>
              <ul class="list pl0 mt0">
                <li class="pv1">60 minutes</li>
              </ul>
            </div>

            <div class="consecutive-sessions">
              <h2 class="f5 mb2 lh-copy">Maximum Consecutive Sessions</h2>
              <ul class="list pl0 mt0">
                <li class="pv1">TBD</li>
              </ul>
            </div>
            <div class="notes">
              <h2 class="f5 mb2 lh-copy">Notes</h2>
              <ul class="list pl0 mt0">
                <li class="pv1">Bilingual</li>
              </ul>
            </div>
          </article>
          <!-- End Lucia dropdown, dropdown-details -->

          <!-- Start: Yendriy dropdown, dropdown-details -->
          <article
            class="dropdown pv1 ph3 flex justify-between br4 relative mv3"
          >
            <div class="summary flex justify-between items-center pv3">
              <h2 class="white mv0 pr3 f4 w4-ns tl">Yendriy</h2>
              <p class="white mv0">754-423-3276</p>
            </div>
            <div class="flex items-center">
              <img class="angle" src={rightAngle} width="12" />
            </div>
          </article>
          <article class="dropdown-details w-100 br4 tl ph3 pv3 mb5 dn">
            <div class="modalities">
              <h2 class="f5 mb2">Modalities Performed</h2>
              <ul class="list pl0 mt0">
                <li class="pv1">Swedish</li>
                <li class="pv1">Deep Tissue</li>
                <li class="pv1">Foot Treatment</li>
                <li class="pv1">Aromatherapy</li>
                <li class="pv1">RTR</li>
                <li class="pv1">Stretching</li>
                <li class="pv1">Prenatal</li>
                <li class="pv1">EMT</li>
                <li class="pv1">Hot Stone</li>
                <li class="pv1">Oncology</li>
                <li class="pv1">CBD</li>
              </ul>
            </div>

            <div class="schedule">
              <h2 class="f5 mb2">Days Available</h2>
              <ul class="list pl0 mt0">
                <li class="pv1">Monday</li>
                <li class="pv1">Wednesday</li>
                <li class="pv1">Friday</li>
                <li class="pv1">Saturday</li>
              </ul>
            </div>

            <div class="durations">
              <h2 class="f5 mb2">Session Durations</h2>
              <ul class="list pl0 mt0">
                <li class="pv1">60 minutes</li>
                <li class="pv1">90 minutes</li>
                <li class="pv1">120 minutes</li>
              </ul>
            </div>

            <div class="consecutive-sessions">
              <h2 class="f5 mb2 lh-copy">Maximum Consecutive Sessions</h2>
              <ul class="list pl0 mt0">
                <li class="pv1">TBD</li>
              </ul>
            </div>
            <div class="notes">
              <h2 class="f5 mb2 lh-copy">Notes</h2>
              <ul class="list pl0 mt0">
                <li class="pv1">Bilingual</li>
              </ul>
            </div>
          </article>
          <!-- End Yendriy dropdown, dropdown-details -->

          <!-- Start: Helen dropdown, dropdown-details -->
          <article
            class="dropdown pv1 ph3 flex justify-between br4 relative mv3"
          >
            <div class="summary flex justify-between items-center pv3">
              <h2 class="white mv0 pr3 f4 w4-ns tl">Helen</h2>
              <p class="white mv0">954-394-6185</p>
            </div>
            <div class="flex items-center">
              <img class="angle" src={rightAngle} width="12" />
            </div>
          </article>
          <article class="dropdown-details w-100 br4 tl ph3 pv3 mb5 dn">
            <div class="modalities">
              <h2 class="f5 mb2">Modalities Performed</h2>
              <ul class="list pl0 mt0">
                <li class="pv1">Swedish</li>
                <li class="pv1">Deep Tissue</li>
                <li class="pv1">Foot Treatment</li>
                <li class="pv1">Aromatherapy</li>
                <li class="pv1">RTR</li>
                <li class="pv1">Stretching</li>
                <li class="pv1">Prenatal</li>
                <li class="pv1">EMT</li>
                <li class="pv1">Hot Stone</li>
                <li class="pv1">CBD</li>
              </ul>
            </div>

            <div class="schedule">
              <h2 class="f5 mb2">Days Available</h2>
              <ul class="list pl0 mt0">
                <li class="pv1">Monday</li>
                <li class="pv1">Wednesday</li>
                <li class="pv1">Friday</li>
                <li class="pv1">Saturday</li>
                <li class="pv1">Sunday</li>
              </ul>
            </div>

            <div class="durations">
              <h2 class="f5 mb2">Session Durations</h2>
              <ul class="list pl0 mt0">
                <li class="pv1">60 minutes</li>
                <li class="pv1">90 minutes</li>
                <li class="pv1">120 minutes</li>
              </ul>
            </div>

            <div class="consecutive-sessions">
              <h2 class="f5 mb2 lh-copy">Maximum Consecutive Sessions</h2>
              <ul class="list pl0 mt0">
                <li class="pv1">TBD</li>
              </ul>
            </div>
            <div class="notes">
              <h2 class="f5 mb2 lh-copy">Notes</h2>
              <ul class="list pl0 mt0">
                <li class="pv1">Bilingual</li>
                <li class="pv1">Work on Minors</li>
              </ul>
            </div>
          </article>
          <!-- End Helen dropdown, dropdown-details -->

          <!-- Start: Madelene dropdown, dropdown-details -->
          <article
            class="dropdown pv1 ph3 flex justify-between br4 relative mv3"
          >
            <div class="summary flex justify-between items-center pv3">
              <h2 class="white mv0 pr3 f4 w4-ns tl">Madelene</h2>
              <p class="white mv0">713-423-9658</p>
            </div>
            <div class="flex items-center">
              <img class="angle" src={rightAngle} width="12" />
            </div>
          </article>
          <article class="dropdown-details w-100 br4 tl ph3 pv3 mb5 dn">
            <div class="modalities">
              <h2 class="f5 mb2">Modalities Performed</h2>
              <ul class="list pl0 mt0">
                <li class="pv1">Swedish</li>
                <li class="pv1">Myofascial Release</li>
                <li class="pv1">Neuromuscular</li>
                <li class="pv1">Foot Treatment</li>
                <li class="pv1">Aromatherapy</li>
                <li class="pv1">RTR</li>
                <li class="pv1">Structural</li>
              </ul>
            </div>

            <div class="schedule">
              <h2 class="f5 mb2">Days Available</h2>
              <ul class="list pl0 mt0">
                <li class="pv1">Monday</li>
                <li class="pv1">Tuesday</li>
                <li class="pv1">Thursday</li>
                <li class="pv1">Friday</li>
                <li class="pv1">Sunday</li>
              </ul>
            </div>

            <div class="durations">
              <h2 class="f5 mb2">Session Durations</h2>
              <ul class="list pl0 mt0">
                <li class="pv1">60 minutes</li>
              </ul>
            </div>

            <div class="consecutive-sessions">
              <h2 class="f5 mb2 lh-copy">Maximum Consecutive Sessions</h2>
              <ul class="list pl0 mt0">
                <li class="pv1">TBD</li>
              </ul>
            </div>
            <div class="notes">
              <h2 class="f5 mb2 lh-copy">Notes</h2>
              <ul class="list pl0 mt0">
                <li class="pv1">Work on Minors</li>
              </ul>
            </div>
          </article>
          <!-- End Madelene dropdown, dropdown-details -->
        </div>

        <!-- MALE MASSAGE THERAPISTS -->
        <div class="males-container bl pl2 bw3 b--blue mt5">
          <h3 class="f6 ttu tl blue">Male Providers</h3>

          <!-- Start: Rick dropdown, dropdown-details -->
          <article
            class="dropdown pv1 ph3 flex justify-between br4 relative mv3"
          >
            <div class="summary flex justify-between items-center pv3">
              <h2 class="white mv0 pr3 f4 w4-ns tl">Rick</h2>
              <p class="white mv0">917-558-6898</p>
            </div>
            <div class="flex items-center">
              <img class="angle" src={rightAngle} width="12" />
            </div>
          </article>
          <article class="dropdown-details w-100 br4 tl ph3 pv3 mb5 dn">
            <div class="modalities">
              <h2 class="f5 mb2">Modalities Performed</h2>
              <ul class="list pl0 mt0">
                <li class="pv1">Deep Tissue</li>
                <li class="pv1">Sports</li>
                <li class="pv1">Hot Stone</li>
                <li class="pv1">EMT</li>
                <li class="pv1">Foot Treatment</li>
                <li class="pv1">Aromatherapy</li>
                <li class="pv1">CBD</li>
              </ul>
            </div>

            <div class="schedule">
              <h2 class="f5 mb2">Days Available</h2>
              <ul class="list pl0 mt0">
                <li class="pv1">Tuesday</li>
                <li class="pv1">Wednesday</li>
                <li class="pv1">Thursday</li>
                <li class="pv1">Saturday</li>
              </ul>
            </div>

            <div class="durations">
              <h2 class="f5 mb2">Session Durations</h2>
              <ul class="list pl0 mt0">
                <li class="pv1">60 minutes</li>
                <li class="pv1">90 minutes</li>
                <li class="pv1">120 minutes</li>
              </ul>
            </div>

            <div class="consecutive-sessions">
              <h2 class="f5 mb2 lh-copy">Maximum Consecutive Sessions</h2>
              <ul class="list pl0 mt0">
                <li class="pv1">TBD</li>
              </ul>
            </div>
            <div class="notes">
              <h2 class="f5 mb2 lh-copy">Notes</h2>
              <ul class="list pl0 mt0">
                <li class="pv1">Bilingual</li>
              </ul>
            </div>
          </article>
          <!-- End Rick dropdown, dropdown-details -->

          <!-- Start: Juan dropdown, dropdown-details -->
          <article
            class="dropdown pv1 ph3 flex justify-between br4 relative mv3"
          >
            <div class="summary flex justify-between items-center pv3">
              <h2 class="white mv0 pr3 f4 w4-ns tl">Juan</h2>
              <p class="white mv0">786-262-1512</p>
            </div>
            <div class="flex items-center">
              <img class="angle" src={rightAngle} width="12" />
            </div>
          </article>
          <article class="dropdown-details w-100 br4 tl ph3 pv3 mb5 dn">
            <div class="modalities">
              <h2 class="f5 mb2">Modalities Performed</h2>
              <ul class="list pl0 mt0">
                <li class="pv1">Deep Tissue</li>
                <li class="pv1">Hot Stone</li>
                <li class="pv1">EMT</li>
                <li class="pv1">RTR</li>
                <li class="pv1">Aromatherapy</li>
                <li class="pv1">CBD</li>
                <li class="pv1">Stretching</li>
              </ul>
            </div>

            <div class="schedule">
              <h2 class="f5 mb2">Days Available</h2>
              <ul class="list pl0 mt0">
                <li class="pv1">Wednesday</li>
                <li class="pv1">Thursday</li>
                <li class="pv1">Friday</li>
                <li class="pv1">Saturday</li>
                <li class="pv1">Sunday</li>
              </ul>
            </div>

            <div class="durations">
              <h2 class="f5 mb2">Session Durations</h2>
              <ul class="list pl0 mt0">
                <li class="pv1">60 minutes</li>
                <li class="pv1">90 minutes</li>
              </ul>
            </div>

            <div class="consecutive-sessions">
              <h2 class="f5 mb2 lh-copy">Maximum Consecutive Sessions</h2>
              <ul class="list pl0 mt0">
                <li class="pv1">TBD</li>
              </ul>
            </div>
            <div class="notes">
              <h2 class="f5 mb2 lh-copy">Notes</h2>
              <ul class="list pl0 mt0">
                <li class="pv1">Bilingual</li>
              </ul>
            </div>
          </article>
          <!-- End Juan dropdown, dropdown-details -->

          <!-- Start: Johnny dropdown, dropdown-details -->
          <article
            class="dropdown pv1 ph3 flex justify-between br4 relative mv3"
          >
            <div class="summary flex justify-between items-center pv3">
              <h2 class="white mv0 pr3 f4 w4-ns tl">Johnny</h2>
              <p class="white mv0">954-394-6184</p>
            </div>
            <div class="flex items-center">
              <img class="angle" src={rightAngle} width="12" />
            </div>
          </article>
          <article class="dropdown-details w-100 br4 tl ph3 pv3 mb5 dn">
            <div class="modalities">
              <h2 class="f5 mb2">Modalities Performed</h2>
              <ul class="list pl0 mt0">
                <li class="pv1">Swedish</li>
                <li class="pv1">Deep Tissue</li>
                <li class="pv1">Reflexology</li>
                <li class="pv1">Aromatherapy</li>
              </ul>
            </div>

            <div class="schedule">
              <h2 class="f5 mb2">Days Available</h2>
              <ul class="list pl0 mt0">
                <li class="pv1">Monday</li>
                <li class="pv1">Tuesday</li>
                <li class="pv1">Friday</li>
                <li class="pv1">Saturday</li>
                <li class="pv1">Sunday</li>
              </ul>
            </div>

            <div class="durations">
              <h2 class="f5 mb2">Session Durations</h2>
              <ul class="list pl0 mt0">
                <li class="pv1">60 minutes</li>
                <li class="pv1">90 minutes</li>
                <li class="pv1">120 minutes</li>
              </ul>
            </div>

            <div class="consecutive-sessions">
              <h2 class="f5 mb2 lh-copy">Maximum Consecutive Sessions</h2>
              <ul class="list pl0 mt0">
                <li class="pv1">TBD</li>
              </ul>
            </div>
            <div class="notes">
              <h2 class="f5 mb2 lh-copy">Notes</h2>
              <ul class="list pl0 mt0">
                <li class="pv1">Bilingual</li>
              </ul>
            </div>
          </article>
          <!-- End Johnny dropdown, dropdown-details -->

          <!-- Start: Carlos dropdown, dropdown-details -->
          <article
            class="dropdown pv1 ph3 flex justify-between br4 relative mv3"
          >
            <div class="summary flex justify-between items-center pv3">
              <h2 class="white mv0 pr3 f4 w4-ns tl">Carlos</h2>
              <p class="white mv0">305-297-5208</p>
            </div>
            <div class="flex items-center">
              <img class="angle" src={rightAngle} width="12" />
            </div>
          </article>
          <article class="dropdown-details w-100 br4 tl ph3 pv3 mb5 dn">
            <div class="modalities">
              <h2 class="f5 mb2">Modalities Performed</h2>
              <ul class="list pl0 mt0">
                <li class="pv1">Swedish</li>
                <li class="pv1">Deep Tissue</li>
                <li class="pv1">Reflexology</li>
                <li class="pv1">Aromatherapy</li>
                <li class="pv1">Myofascial Release</li>
                <li class="pv1">Medical Injury</li>
                <li class="pv1">Hot Stone</li>
                <li class="pv1">Foot Treatment</li>
                <li class="pv1">EMT</li>
                <li class="pv1">RTR</li>
                <li class="pv1">Stretching</li>
              </ul>
            </div>

            <div class="schedule">
              <h2 class="f5 mb2">Days Available</h2>
              <ul class="list pl0 mt0">
                <li class="pv1">Sunday ONLY</li>
              </ul>
            </div>

            <div class="durations">
              <h2 class="f5 mb2">Session Durations</h2>
              <ul class="list pl0 mt0">
                <li class="pv1">60 minutes</li>
                <li class="pv1">90 minutes</li>
              </ul>
            </div>

            <div class="consecutive-sessions">
              <h2 class="f5 mb2 lh-copy">Maximum Consecutive Sessions</h2>
              <ul class="list pl0 mt0">
                <li class="pv1">TBD</li>
              </ul>
            </div>
            <div class="notes">
              <h2 class="f5 mb2 lh-copy">Notes</h2>
              <ul class="list pl0 mt0">
                <li class="pv1">Bilingual</li>
              </ul>
            </div>
          </article>
          <!-- End Carlos dropdown, dropdown-details -->

          <!-- Start: David dropdown, dropdown-details -->
          <article
            class="dropdown pv1 ph3 flex justify-between br4 relative mv3"
          >
            <div class="summary flex justify-between items-center pv3">
              <h2 class="white mv0 pr3 f4 w4-ns tl">David</h2>
              <p class="white mv0">954-599-9738</p>
            </div>
            <div class="flex items-center">
              <img class="angle" src={rightAngle} width="12" />
            </div>
          </article>
          <article class="dropdown-details w-100 br4 tl ph3 pv3 mb5 dn">
            <div class="modalities">
              <h2 class="f5 mb2">Modalities Performed</h2>
              <ul class="list pl0 mt0">
                <li class="pv1">Swedish</li>
                <li class="pv1">Deep Tissue</li>
                <li class="pv1">Foot Treatment</li>
                <li class="pv1">Hand Treatment</li>
                <li class="pv1">EMT</li>
                <li class="pv1">Aromatherapy</li>
              </ul>
            </div>

            <div class="schedule">
              <h2 class="f5 mb2">Days Available</h2>
              <ul class="list pl0 mt0">
                <li class="pv1">Monday</li>
                <li class="pv1">Tuesday</li>
                <li class="pv1">Saturday</li>
                <li class="pv1">Sunday</li>
              </ul>
            </div>

            <div class="durations">
              <h2 class="f5 mb2">Session Durations</h2>
              <ul class="list pl0 mt0">
                <li class="pv1">60 minutes</li>
                <li class="pv1">90 minutes</li>
                <li class="pv1">120 minutes</li>
              </ul>
            </div>

            <div class="consecutive-sessions">
              <h2 class="f5 mb2 lh-copy">Maximum Consecutive Sessions</h2>
              <ul class="list pl0 mt0">
                <li class="pv1">3</li>
              </ul>
            </div>
            <div class="notes">
              <h2 class="f5 mb2 lh-copy">Notes</h2>
              <ul class="list pl0 mt0">
                <li class="pv1">Works on Minors</li>
              </ul>
            </div>
          </article>
          <!-- End David dropdown, dropdown-details -->

          <!-- Start: Ernesto dropdown, dropdown-details -->
          <article
            class="dropdown pv1 ph3 flex justify-between br4 relative mv3"
          >
            <div class="summary flex justify-between items-center pv3">
              <h2 class="white mv0 pr3 f4 w4-ns tl">Ernesto</h2>
              <p class="white mv0">786-523-1429</p>
            </div>
            <div class="flex items-center">
              <img class="angle" src={rightAngle} width="12" />
            </div>
          </article>
          <article class="dropdown-details w-100 br4 tl ph3 pv3 mb5 dn">
            <div class="modalities">
              <h2 class="f5 mb2">Modalities Performed</h2>
              <ul class="list pl0 mt0">
                <li class="pv1">TBD</li>
              </ul>
            </div>

            <div class="schedule">
              <h2 class="f5 mb2">Days Available</h2>
              <ul class="list pl0 mt0">
                <li class="pv1">TBD</li>
              </ul>
            </div>

            <div class="durations">
              <h2 class="f5 mb2">Session Durations</h2>
              <ul class="list pl0 mt0">
                <li class="pv1">TBD</li>
              </ul>
            </div>

            <div class="consecutive-sessions">
              <h2 class="f5 mb2 lh-copy">Maximum Consecutive Sessions</h2>
              <ul class="list pl0 mt0">
                <li class="pv1">TBD</li>
              </ul>
            </div>
            <div class="notes">
              <h2 class="f5 mb2 lh-copy">Notes</h2>
              <ul class="list pl0 mt0">
                <li class="pv1">Bilingual</li>
              </ul>
            </div>
          </article>
          <!-- End Ernesto dropdown, dropdown-details -->
        </div>
      </div>
    </section>

    <section id="estheticians" class="mb7">
      <h2 class="tl f4 mw7 center">Estheticians</h2>

      <div class="dropdowns-container mw7 center">
        <!-- FEMALE ESTHETICIANS -->
        <div class="females-container bl pl2 bw3 b--pink mt4">
          <h3 class="f6 ttu tl pink">Female Providers</h3>

          <!-- Start: Dee dropdown, dropdown-details -->
          <article
            class="dropdown pv1 ph3 flex justify-between br4 relative mv3"
          >
            <div class="summary flex justify-between items-center pv3">
              <h2 class="white mv0 pr3 f4 w4-ns tl">Dee</h2>
              <p class="white mv0">954-562-1206</p>
            </div>
            <div class="flex items-center">
              <img class="angle" src={rightAngle} width="12" />
            </div>
          </article>
          <article class="dropdown-details w-100 br4 tl ph3 pv3 mb5 dn">
            <div class="modalities">
              <h2 class="f5 mb2">Services Performed</h2>
              <ul class="list pl0 mt0">
                <li class="pv1">Foot Treatment</li>
                <li class="pv1">Hand Treatment</li>
                <li class="pv1">High Frequency</li>
                <li class="pv1">Exfoliating Lip Treatment</li>
                <li class="pv1 lh-copy">
                  Exfoliating Neck and Decolletage - Chemical Peel Only
                </li>
                <li class="pv1">Antiaging Eye Treatment</li>
                <li class="pv1">Neck and Decolletage - Massage?</li>
                <li class="pv1">Cooling Globe</li>
              </ul>
            </div>

            <div class="schedule">
              <h2 class="f5 mb2">Days Available</h2>
              <ul class="list pl0 mt0">
                <li class="pv1">TBD</li>
              </ul>
            </div>

            <div class="durations">
              <h2 class="f5 mb2">Session Durations</h2>
              <ul class="list pl0 mt0">
                <li class="pv1">TBD</li>
              </ul>
            </div>

            <div class="consecutive-sessions">
              <h2 class="f5 mb2 lh-copy">Maximum Consecutive Sessions</h2>
              <ul class="list pl0 mt0">
                <li class="pv1">TBD</li>
              </ul>
            </div>
            <div class="notes">
              <h2 class="f5 mb2 lh-copy">Notes</h2>
              <ul class="list pl0 mt0">
                <li class="pv1">TBD</li>
              </ul>
            </div>
          </article>
          <!-- End Dee dropdown, dropdown-details -->

          <!-- Start: Belineda dropdown, dropdown-details -->
          <article
            class="dropdown pv1 ph3 flex justify-between br4 relative mv3"
          >
            <div class="summary flex justify-between items-center pv3">
              <h2 class="white mv0 pr3 f4 w4-ns tl">Belineda</h2>
              <p class="white mv0">954-248-9973</p>
            </div>
            <div class="flex items-center">
              <img class="angle" src={rightAngle} width="12" />
            </div>
          </article>
          <article class="dropdown-details w-100 br4 tl ph3 pv3 mb5 dn">
            <div class="modalities">
              <h2 class="f5 mb2">Services Performed</h2>
              <ul class="list pl0 mt0">
                <li class="pv1">Foot Treatment</li>
                <li class="pv1">Hand Treatment</li>
                <li class="pv1">Exfoliating Lip Treatment</li>
                <li class="pv1 lh-copy">
                  Exfoliating Neck and Decolletage - Chemical Peel Only
                </li>
                <li class="pv1">Antiaging Eye Treatment</li>
                <li class="pv1">Neck and Decolletage - Massage?</li>
                <li class="pv1">Cooling Globe</li>
              </ul>
            </div>

            <div class="schedule">
              <h2 class="f5 mb2">Days Available</h2>
              <ul class="list pl0 mt0">
                <li class="pv1">TBD</li>
              </ul>
            </div>

            <div class="durations">
              <h2 class="f5 mb2">Session Durations</h2>
              <ul class="list pl0 mt0">
                <li class="pv1">TBD</li>
              </ul>
            </div>

            <div class="consecutive-sessions">
              <h2 class="f5 mb2 lh-copy">Maximum Consecutive Sessions</h2>
              <ul class="list pl0 mt0">
                <li class="pv1">TBD</li>
              </ul>
            </div>
            <div class="notes">
              <h2 class="f5 mb2 lh-copy">Notes</h2>
              <ul class="list pl0 mt0">
                <li class="pv1">TBD</li>
              </ul>
            </div>
          </article>
          <!-- End Belineda dropdown, dropdown-details -->

          <!-- Start: Serena dropdown, dropdown-details -->
          <article
            class="dropdown pv1 ph3 flex justify-between br4 relative mv3"
          >
            <div class="summary flex justify-between items-center pv3">
              <h2 class="white mv0 pr3 f4 w4-ns tl">Serena</h2>
              <p class="white mv0">209-740-0292</p>
            </div>
            <div class="flex items-center">
              <img class="angle" src={rightAngle} width="12" />
            </div>
          </article>
          <article class="dropdown-details w-100 br4 tl ph3 pv3 mb5 dn">
            <div class="modalities">
              <h2 class="f5 mb2">Services Performed</h2>
              <ul class="list pl0 mt0">
                <li class="pv1">Foot Treatment</li>
                <li class="pv1">Hand Treatment</li>
                <li class="pv1">High Frequency</li>
                <li class="pv1">Exfoliating Lip Treatment</li>
                <li class="pv1 lh-copy">
                  Exfoliating Neck and Decolletage - Chemical Peel Only
                </li>
                <li class="pv1">Antiaging Eye Treatment</li>
                <li class="pv1">Neck and Decolletage - Massage?</li>
                <li class="pv1">Cooling Globe</li>
              </ul>
            </div>

            <div class="schedule">
              <h2 class="f5 mb2">Days Available</h2>
              <ul class="list pl0 mt0">
                <li class="pv1">TBD</li>
              </ul>
            </div>

            <div class="durations">
              <h2 class="f5 mb2">Session Durations</h2>
              <ul class="list pl0 mt0">
                <li class="pv1">TBD</li>
              </ul>
            </div>

            <div class="consecutive-sessions">
              <h2 class="f5 mb2 lh-copy">Maximum Consecutive Sessions</h2>
              <ul class="list pl0 mt0">
                <li class="pv1">TBD</li>
              </ul>
            </div>
            <div class="notes">
              <h2 class="f5 mb2 lh-copy">Notes</h2>
              <ul class="list pl0 mt0">
                <li class="pv1">TBD</li>
              </ul>
            </div>
          </article>
          <!-- End Serena dropdown, dropdown-details -->
        </div>

        <!-- MALE ESTHETICIANS -->
        <!-- <div class="males-container bl pl2 bw3 b--blue mt5">
          <h3 class="f6 ttu tl blue">Male Providers</h3>
        </div> -->
      </div>
    </section>
  </main>
</Layout>

<style>
  article {
    background-color: var(--theme-primary-color);
  }

  .summary > p {
    font-family: "Panton Narrow Bold", sans-serif;
  }

  .grid {
    display: grid;
  }

  .dropdown-details {
    top: 80px;
    background-color: var(--theme-light-gray);
    height: fit-content;
    grid-template-rows: 1fr;
  }

  .rotate90deg {
    transform: rotate(90deg);
  }

  .summary > h2 {
    color: white;
  }

  @media screen and (min-width: 470px) {
    .dropdown-details {
      grid-template-columns: repeat(2, 1fr);
    }
  }
</style>

<script>
  let dropdowns = document.querySelectorAll(".dropdown");
  let dropdownDetails = document.querySelectorAll(".dropdown-details");
  let dropdownAngles = document.querySelectorAll(".angle");

  dropdowns.forEach(function (dropdown, index) {
    dropdown.addEventListener("click", function () {
      if (dropdownDetails[index].classList.contains("dn")) {
        dropdownDetails[index].classList.replace("dn", "grid");
        dropdownAngles[index].classList.add("rotate90deg");
      } else {
        dropdownDetails[index].classList.replace("grid", "dn");
        dropdownAngles[index].classList.remove("rotate90deg");
      }
    });
  });
</script>
